body{
margin:0px;
padding:0px;
background-color:#fff0f5;
}

#header
{
background-color:black;
color:white;
font-family:algerian;
font-size:80px;
height:100px;
width:auto%;
opacity:0.9;
border-radius:10px;
margin:3px;
text-align:center;
}


.pic1
{

width:100%; 
height:auto;
}

.pic1 img
{
margin-left:10px;
margin:3px;
border-radius:10px;
width:1510px; 
height:350px;
}

.navbar
{
margin-top:0px;
margin-bottom:100px;
margin-left:3px;
width:100%;
color:black;
font-size:35px
font-family:algerian;
}

ul
{
margin:0;
padding:0;
list-style:none;
}

li
{
float:left;
width:214.7px;
height:40px;
border-radius:15px;
background-color:black;
opacity:.9;
line-height:40px;
text-align:center;
margin-left:0px;
margin-right:0px

}

ul li a
{
font-size:22px;
font-family:algerian;
margin-right:0px;
text-decoration-none;
display:block;
color:white;
}

ul li a:hover
{
border-radius:10px;
background-color:darkred;
}

#para
{
font-size:40px;
margin:10px;
text-align:justify;
text-family:arial;
text-weight:700;
float:left;
}

#footer
{
background-color:black;
width:auto;
height:490px;
margin:5px;
margin-top:550px;
color:white;
opacity:0.9;
font-family:algerian;
font-size:40px;
text-align:center;
}

<style>
table,th
{
border: 1px solid maroon;
}

table
{
margin-top:10px;
width:100%;
border-radius:10px;
background-color:maroon;
}
th{
border-radius:10px;
color:white;
font-size:25px;
height:40px;
}
</style>


