body{
padding:0px;
margin:0px;
background-color:#fff0f5;
}

#navi
{
background-color:black;
color:white;
padding:5px;
width:auto;
height:100px;
font-family:algerian;
font-size:70px;
margin:5px;
border-radius:10px;
text-align:center;
margin-bottom:30px;
}

.navbar
{
margin-left:3px;
width:100%;
color:black;
font-size:35px
font-family:algerian;
margin-bottom:150px;
}

ul
{
margin:0;
padding:0;
list-style:none;
}

li
{
float:left;
width:214.7px;
height:40px;
border-radius:15px;
background-color:black;
opacity:.9;
line-height:40px;
text-align:center;
margin-left:0px;
margin-right:0px

}

ul li a
{
font-size:22px;
font-family:algerian;
margin-right:0px;
text-decoration-none;
display:block;
color:white;
}

ul li a:hover
{
border-radius:10px;
background-color:darkred;
}


#pic
{
inline:block;
width:auto;
height:300px;
margin-bottom:150px;
margin-left:50px;
}


#pic img
{

margin:10px;
width:450px;
height:400px;

}


.footer
{
margin:5px;
font-family:algerian;
font-size:20px;
text-align:left;
margin-top:1400px;
padding:0px;
height:320px;
background-color:black;
color: white;
border-radius:10px;
}

.footer img
{
float:right;
max-width:7%;
max-height:8%;
margin-right:890px;
margin-top:-22.5px;
}
