body
{
font-family:algerian;
background-position:center;
background:url("login.jfif");
background-size:cover;
background-repeat:no-repeat;
}


.navbar
{
margin-left:3px;
width:100%;
color:black;
font-size:35px
font-family:algerian;
margin-bottom:15px;
}

ul
{
margin:0;
padding:0;
list-style:none;
}

li
{
float:left;
width:214.7px;
height:40px;
border-radius:15px;
background-color:black;
opacity:.9;
line-height:40px;
text-align:center;
margin-left:0px;
margin-right:0px

}

ul li a
{
font-size:22px;
font-family:algerian;
margin-right:0px;
text-decoration-none;
display:block;
color:white;
}

ul li a:hover
{
border-radius:10px;
background-color:darkred;
}




.loginbox
{
width:400px;
height:550px;
background:black;
color:white;
top:180px;
left:550px;
opacity:0.8;
position:absolute;
box-sizing:border-box;
padding:70px 30px;
}


.avtar
{
left:150px;
top:-40px;
opacity:1;
width:100px;
height:100px;
position:absolute;
}

h1
{
text-align:center;
font-size:32px;
}

.loginbox p
{
margin:0px;
font-weight:bold;
font-size:25px;	
}

.loginbox input
{
background:white;
margin:0px;
width:100%;
margin-bottom:20px;
height:30px;
}


.loginbox input[ type="text"],input[ type="password"]
{
color:white;
border:none;
border-bottom:1px solid #fff;
background:transparent;
outline:none;
height:40px;
font-size:20px;
}


#type
{
color:black;
border-radius:6px;
border-bottom:1px solid #fff;
background:white;
outline:none;
height:30px;
font-size:20px;
}


.loginbox input[ type="submit"]
{
border:none;
background:red;
outline:none;
height:40px;
font-size:25px;
opacity:0.9;
color:white;
border-radius:20px;
}

.loginbox input[ type="submit"]:hover
{
cursor:pointer;
background:yellow;
color:black;
}

.loginbox a
{
text-decoration:none;
font-size:18px;
line-height:20px;
color:white;
}


.loginbox a:hover
{
color:yellow;
}
